header, 
main, 
footer {
    display: inline-block;
    width: 1000px;
    /* margin-left: calc((100% - 500px) / 2); */
    margin: 0 calc(50% -500px);
    background-color: aqua;
}
img {
    float: left;
}
nav {
    float: right;
}
a {
    text-decoration: none;
    margin-right: 50px;
}
a:last-child {
    margin: 0;
}
main {
   
    background-color: rgb(187, 255, 0);
}
footer {
    
    background-color: rgb(235, 16, 52);
}