body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}



.container {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 1000px;
    margin: 0 calc(50% - 500px) 60px;
}

.first > .box1 {
    display: flex;
    justify-content: center;
    width:  150px;
    height: 150px;
    color: black;
    background-color: rgb(30, 110, 110);
}


img {
      width: 80px;
      }

  .first > .box1 > .apple {
    width: 70%;
    justify-content: center;
    
}
.second > .box2 {
    display: flex;
    justify-content: center;
    width:  150px;
    height: 150px;
    color: black;
    background-color: rgb(30, 110, 110);
}

.second > .box2 > .random {
  width: 70%;
  justify-content: center;
}

.third > .box3 {
    display: flex;
    justify-content: center;
    width:  150px;
    height: 150px;
    color: black;
    background-color: rgb(30, 110, 110);
}

.third > .box3 > .random {
  width: 70%;
  justify-content: center;
}

/* .first > .box1 > .numberCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: rgb(255, 255, 255);
    border: 2px solid rgb(243, 0, 0);
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
} */
h1{
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(252, 46, 46);
    font-size:  20px;
}
p {
    text-transform: capitalize;
    color: rgb(80, 80, 80);
    font-size:  14px;
    line-height: 1.6;
}